<!DOCTYPE html >
<html lang="pt-br" xmlns:th="http://thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
		<title>Encontrar Cachorros</title>
		<meta name="author" content="Larissa Souza">
		<link rel="stylesheet" href="css/style.css">
		<script src="https://kit.fontawesome.com/006642858d.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Lato|Noto+Sans+JP|Open+Sans|Roboto&display=swap" rel="stylesheet">
	</head>
<body>
		<div th:replace="fragmentos/fragmentos :: cabecalho"></div>
		
		<div class="container" style="margin-top: 50px;">
			<h4>+ Encontrar Cachorros</h4>
			<hr>
			<br>
			
			<div class="row">
				<div class="card" style="width: 288px;">
					<img class="card-img-top" src="XXXXXXXX.jpn"/>
					<div>
						<h5 class="card-title">Cachorros</h5>
						<p class="card-text">Busque por todos os cachorros no sistema</p>
						<a class="btn btn-outline-primary">Clique Aqui</a>
					</div>
				
				</div>
			
			
			</div>
			
	</div>
</body>
</html>