<!DOCTYPE html >
<html lang="pt-br" xmlns:th="http://thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
		<title>Sistema de Creche - Login </title>
		<meta name="author" content="Larissa Souza">
		<link rel="stylesheet" href="css/login.css">
		<script src="https://kit.fontawesome.com/006642858d.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Lato|Noto+Sans+JP|Open+Sans|Roboto&display=swap" rel="stylesheet">
	</head>
<body>

	<div class="Login-Form">
		<div class="container">
			<div class="main-div">
				<div class="texto-header">
					<h2>Cadastro de Usuário</h2>
					<p>Crie seu usuário para efetuar o login no sistema</p>
				</div>
				<form method="post" th:object="${usuario}" action="salvarUsuario">
				
					<div class="form-group">
						<input type="email" class="form-control" placeholder="email" th:field="*{email}" >
					</div>
					
					<div class="form-group">
						<input type="text" class="form-control" placeholder="username" th:field="*{user}" >
					</div>
					<div class="form-group">
						<input type="password" class="form-control" placeholder="insira sua senha" th:field="*{senha}"> 
					</div> 
				
				
				
				<button type="submit" class="btn btn-primary">Cadastrar</button>
				<button type="button" class="btn btn-info">Voltar</button>
			</form>
			</div>
		</div>
	
	
	</div>
	

</body>
</html>