<!DOCTYPE html >
<html lang="pt-br" xmlns:th="http://thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
		<title>Sistema de Creche - Login </title>
		<meta name="author" content="Larissa Souza">
		<link rel="stylesheet" href="css/login.css">
		<script src="https://kit.fontawesome.com/006642858d.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Lato|Noto+Sans+JP|Open+Sans|Roboto&display=swap" rel="stylesheet">
	</head>
<body>

	<div class="Login-Form">
		<div class="container">
			<div class="main-div">
				<div class="texto-header">
					<h2>Admin Login</h2>
					<p>Insira suas credenciais para efetuar o login no sistema</p>
				</div>
				<form method="post">
					<div class="form-group">
						<input class="form-control" placeholder="username">
					</div>
					<div class="form-group">
						<input class="form-control" placeholder="insira sua senha">
					</div>
				
				</form>
				<div class="cadastro">
					<p>Não tem cadastro? Clique aqui!</p>
				</div>
				
				<button type="submit" class="btn btn-primary">Login</button>
				<button type="button" class="btn btn-info">Voltar</button>
			</div>
		</div>
	
	
	</div>
	

</body>
</html>